.select {
  width: 22%;
  padding: 0 0 0 var(--12px);
  border: 1px solid var(--dip-white-color);
  margin-right: var(--margin-2);
}

input {
  margin-right: var(--margin-2);
  width: 30%;
  border: 1px solid var(--dip-white-color);
  padding: 2px var(--12px);
  font-size: 11px;
}

.form {
  width: 100%;
}

.newBook {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn {
  background: var(--blue-color);
  font-size: 14px;
  padding: 5px;
  border: 0;
  width: 80px;
}

.error {
  margin-top: 50px;
  font-size: var(--12px);
  color: var(--red-color);
}
