body {
  background: var(--dip-white-color2);
  font-family: sans-serif;
}

.sec {
  padding: var(--12px);
  background: #fff;
  margin-bottom: var(--12px);
}

.category {
  font-size: 10px;
  font-weight: var(--600);
  color: var(--light-blue-color);
}

.title {
  font-size: 14px;
  font-weight: var(--600);
  margin: 2px 0;
  width: auto;
  overflow: auto;
}

.title::-webkit-scrollbar {
  display: none;
}

.author {
  font-size: 10px;
  color: rgb(185, 207, 248);
  font-weight: 600;
  margin-top: 2px;
}

.button {
  background: none;
  color: rgb(185, 207, 248);
  font-size: 9px;
  border: none;
  font-weight: 600;
}

.button:nth-child(1) {
  border-right: 1px solid var(--black-color);
  padding-right: var(--7px);
}

.button:nth-child(2) {
  border-right: 1px solid var(--black-color);
  padding-right: var(--7px);
}

.current {
  font-size: 10px;
  font-weight: var(--300);
  color: var(--light-blue-color);
  margin-bottom: 5px;
}

.chapter {
  font-weight: var(--300);
  font-size: 12px;
  color: var(--black-color);
  margin-bottom: 10px;
}

.progress {
  background: var(--blue-color);
  color: var(--white-color);
  border: none;
  padding: 5px;
  font-size: 10px;
  width: 70%;
}

.round {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid var(--blue-color);
  border-left: 4px solid #f7f5f5;
}

.firstDiv {
  width: 40%;
}

.secondDiv {
  width: 25%;
  display: flex;
  gap: 10px;
  font-weight: 500;
}

.thirdDiv {
  width: 30%;
  padding: 10px;
}

.percentage {
  font-size: 24px;
  color: var(--light-black-color);
}

.complete {
  font-size: 10px;
  color: var(--light-blue-color);
}

.btnDiv {
  margin-top: 10px;
  gap: 15px;
}
