.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  padding: 15px 10%;
  font-family: sans-serif;
}

.navDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header,
.link {
  text-decoration: none;
  color: blue;
}

.link {
  font-size: 11px;
  color: #000;
}
